// 主要颜色
$color-primary:#409EFF;
$color-success:#67C23A;
$color-warning:#E6A23C;
$color-danger:#F56C6C;
$color-info:#909399;
// 主要文字
$main-font-color:#303133;
// 常规文字
$ordinary-font-color:#303133;
// 次要文字
$minor-font-color:#303133;
// 边框颜色
$color-bordar: #d1dbe5;
// 通用背景色
$primary-background: #f8f8f9;
